body {
  background-color: #2E1B33;
  color: #fff;
  margin: 0;
  font-family: 'Open sans', sans-serif;
}

.main-container {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  cursor: pointer;
  /* background-image: url("../images/ring-green.png");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat; */
  justify-content: baseline;
}

.topnav {
  height: 60px;
  width: 100%;
  left: 0px;
  top: 0px;
  background-color: #6A74b7;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: left;
  font-family: 'Fjalla One', sans-serif;

}

/* .topnav-line {
  height:10px;
  width: 100vw;
  
} */

.hamburger-btn {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lesson-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  font-family: 'Fjalla One', sans-serif;
  font-size: 20px;
  padding-left: 10px;
}


.bar1, .bar2, .bar3 {
  width: 35px;
  height: 2px;
  background-color: #fff;
  margin: 4px 4px;
  transition: 0.4s;
  z-index: 50;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  z-index: 50;
}

.change .bar2 {
  opacity: 0;
  z-index: 50;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
  z-index: 50;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  opacity: 96%;
}

.sidenav h1 {
    padding: 20px;
}

.sidenav p {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 20px;
    padding-right: 20px;
}

.sidenav a {
  padding-left: 20px;

}

.logo img{
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 200px;
  background-color: #2f1c34;
   
}

.links {
  margin-top:0px;
  padding-top:0px;
  text-align: left;
  font-family: 'Fjalla One', sans-serif;
  background-color: #2f1c34;
  filter: drop-shadow(3px 3px 4px black);
  
}

.links h1 {
  padding-top:12px;
  padding-bottom: 12px;
  padding-left: 48px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-image: linear-gradient(#2f1c34,black,#2f1c34);
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  font-family: 'Open sans', sans-serif;
  font-weight: 300;
  font-size: 26px;
  
  
}

.link-icon {
  width: 40px;
  height: 40px;
  padding-right: 20px;
}

.href {
  padding: 10px;
  margin: 0;
  color: #fff;
  font-size: 20px;
  border-bottom: 1px solid rgb(75, 75, 75);
  width: 100vw;
  padding-top: 2rem;
  padding-bottom: 2rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  filter: drop-shadow(3px 3px 4px black);

}

a:link {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #fff;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #fff;
  background-color: transparent;
  text-decoration: underline;
}

.error-message2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  /* font-family: 'Fjalla One', sans-serif; */
  padding-bottom: 200px;

}

.return-login {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  justify-content: center;
  align-items: center;
  border:2px solid #6b75b7;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 2px 4px black;

  
}

.ahref {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

