body {
    background-color: #2E1B33;
    color: #fff;
    margin: 0;
    font-family: 'Open sans', sans-serif;
}

.main-container {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    cursor: pointer;
    background-image: url("../images/Assetgreen.png");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    justify-content: baseline;
}

.main-container-DCB {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    cursor: pointer;
    background-image: url("../images/dcb.png");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    justify-content: baseline;
}

.main-container-DOP {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    cursor: pointer;
    background-image: url("../images/dop.png");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    justify-content: baseline;
}

.main-container-OGC {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    cursor: pointer;
    background-image: url("../images/AssetOC.png");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    justify-content: baseline;
}

.main-container-TS {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    cursor: pointer;
    background-image: url("../images/Asset260.png");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    justify-content: baseline;
}

.topnav {
    height: 60px;
    width: 100%;
    left: 0px;
    top: 0px;
    background-color: #75AF6A;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.topnav-DCB{
    height: 60px;
    width: 100%;
    left: 0px;
    top: 0px;
    background-color: #6BC9CB;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.topnav-DOP{
    height: 60px;
    width: 100%;
    left: 0px;
    top: 0px;
    background-color: #DE5826;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: left;
    
}

.topnav-OGC{
    height: 60px;
    width: 100%;
    left: 0px;
    top: 0px;
    background-color: #F47E4F;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.topnav-TS{
    height: 60px;
    width: 100%;
    left: 0px;
    top: 0px;
    background-color: #F15B5C;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.hamburger-btn {
    padding: 8px;
    display: flex;
    flex-direction: column;
}

.lesson-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    font-family: 'Fjalla One', sans-serif;
    font-size: 18px;
    padding-left: 8px;
}


.bar1, .bar2, .bar3 {
    width: 35px;
    height: 2px;
    background-color: #fff;
    margin: 6px 6px;
    transition: 0.4s;
    z-index: 50;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    z-index: 50;
}

.change .bar2 {
    opacity: 0;
    z-index: 50;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    z-index: 50;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    opacity: 98%;
  }

  .sidenav h1 {
      padding: 20px;
  }

  .sidenav p {
      padding-top: 4px;
      padding-bottom: 4px;
      padding-left: 20px;
      padding-right: 20px;
}


.video-area {
    display: flex;
    flex-direction: column;
    font-size: 32px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px;
}

.question-area {
    display: none;
    flex-direction: column;
    padding: 16px;
    align-self: center;
    background-color: rgb(34, 25, 33);
    border-bottom: 1px solid #fff;
}

.question-area h2 {
    font-family: 'Fjalla One', sans-serif;
}

.truefalse-header {
    padding: 1rem;
    justify-self: center;
    align-self: center;
    text-align:center;
}

.truefalse-title {
    font-family: 'Fjalla One', sans-serif;
    font-size: 32px;
}

.truefalse-btn {
    margin: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: #2E1B33;
    border: 1px solid #75AF6A;
    border-radius: 30px;
    color: #fff;
    font-size: 22px;
}

.truefalse-btn-DCB {
    margin: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: #2E1B33;
    border: 1px solid #6BC9CB;
    border-radius: 30px;
    color: #fff;
    font-size: 22px;
}
.truefalse-btn-DOP {
    margin: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: #2E1B33;
    border: 1px solid #DE5826;
    border-radius: 30px;
    color: #fff;
    font-size: 22px;
}

.truefalse-btn-TS {
    margin: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: #2E1B33;
    border: 1px solid #F15B5C;
    border-radius: 30px;
    color: #fff;
    font-size: 22px;
}

.submit-btn {
    margin-top: 42px;
    margin-bottom: 64px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: #07613A;
    border: 2px solid #8bb47b;
    border-radius: 6px;
    color: #fff;
    font-size: 22px;
    width: 80vw;
}

.submit-btn-DOP {
    margin-top: 42px;
    margin-bottom: 64px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: #A43423;
    border: 2px solid  #DD5826;
    border-radius: 6px;
    color: #fff;
    font-size: 22px;
    width: 80vw;
}

.submit-btn-DCB {
    margin-top: 42px;
    margin-bottom: 64px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: #0D4051; 
    border: 2px solid  #6BC9CB;
    border-radius: 6px;
    color: #fff;
    font-size: 22px;
    width: 80vw;
}

.submit-btn-TS {
    margin-top: 42px;
    margin-bottom: 64px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: #83152D;
    border: 2px solid  #F5886E;
    border-radius: 6px;
    color: #fff;
    font-size: 22px;
    width: 80vw;
}

.submit-btn-OGC {
    margin-top: 42px;
    margin-bottom: 64px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: #841D19;
    border: 2px solid #CC4232;
    border-radius: 6px;
    color: #fff;
    font-size: 22px;
    width: 80vw;
}

.truefalse-btn:hover {
    background-color: #fff;
    color: rgb(34, 25, 33);
}

.truefalse-btn:focus {
    background-color: #fff;
    color: rgb(34, 25, 33);
}

.activity-area {
    display: flex;
    flex-direction: column;
    padding: 16px;
    align-self: center;
    background-color: rgb(34, 25, 33);
    border-bottom: 1px solid #fff;
}

.truefalse-area {
    display: none;
    flex-direction: column;
    background-color: rgb(34, 25, 33);
    border-bottom: 1px solid #fff;
}

.act-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:100%;
    color: #000;
}

.act-column {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex: 1;
    text-align: center;
    font-weight: 500;
    justify-content: center;
}

.act-heading {
    padding: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid black;
    background-color:#98c290;
    font-size: 15px;
}

.dropzone {
    padding: 2px;
    border: 1px solid black;
    background-color: rgb(165, 165, 165);
    font-size: 14px;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.act-spacer {
    height: 4rem;
}

.dragtext {
    position: absolute;
    z-index: 99;
    padding: 12px;
    max-width: 142px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 13px;
    font-weight: bold;
}


.options {
    display: flex;
    flex-direction: row;
    justify-items:normal;
    align-self:baseline;
    padding: 8px;
    font-size: 18px;
    font-weight: 500;
}

.option-text {
    padding-left: 8px;
}

.button-area {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
}

#audio-button {
    padding: 8px;
    font-size: 18px;
}

#match-submit-button {
    margin-top: 42px;
    margin-bottom: 64px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: #0D4051; 
    border: 2px solid  #6BC9CB;
    border-radius: 6px;
    color: #fff;
    font-size: 22px;
    width: 80vw;
}

#dd-submit-btn-DCB {
    margin-top: 42px;
    margin-bottom: 64px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: #0D4051; 
    border: 2px solid  #6BC9CB;
    border-radius: 6px;
    color: #fff;
    font-size: 22px;
    width: 80vw;
}


