body {
  background-image: url("images/Background1.png");
  background-size: cover;
}

.main-container {
  position: relative;
  width: 80vw;
  height: 80vh;
  padding: 2rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  justify-content: center;
  justify-self: center;
}


header {
  color: white;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  padding: 20px;
  max-width: 600px;
}


@media only screen and (min-width: 600px) {
  .main-container {
      margin: auto;
      max-width: 400px;
      padding: 1rem;
      margin-top: 6rem;
      display: flex;
      flex-direction: column;

  }